<div class="header hidden-xs" >
        <ul>
            <li>
                <img src="/images/flag_1.png" alt="">
                <span>+44 (0) 20 3595 3003</span>
            </li>
            <li>
                <img src="/images/flag_2.png" alt="">
                <span>+44 (0) 20 3595 3003</span>
            </li>
            <li>
                <img src="/images/flag_3.png" alt="">
                <span>0808 2747 598</span>
            </li>
            <li>
                <img src="/images/flag_4.png" alt="">
                <span>0808 2747 598</span>
            </li>
        </ul>
    </div>
    <div class="header visible-xs">
        <div class="top">
                <img src="/images/flag_2.png" alt="">
    
                <select name="" id="">
                        <option >
                            +44 (0) 20 3595 3003
                        </option>
                </select>
        </div>
     
        <% include nav.ejs %>
        <div class="nav_list">
            <ul>
                <li class="<%- name=='home'?'active':'' %> ">
                    <a href="/">
                            Home
                    </a>
                    </li>
                <li class="<%- name=='about'?'active':'' %> ">
                        <a href="/about">
                                About Us
                        </a></li>
                <li class="<%- name=='service'?'active':'' %> ">
                    <a href="/service">Our Services</a>
                </li>
                <li class="<%- name=='review'?'active':'' %> ">
                    <a href="/review">Review</a>
                </li>
                <li class="<%- name=='contact'?'active':'' %> ">
                    <a href="/contact">
                            Contact Us
                    </a>
                </li>
    
            </ul>
        </div>
    </div>